@font-face {
  font-family: 'BTFontRegular';
  src: url('../fonts/BTFont_Rg.ttf')  format('truetype')
}

body {
  background-color: white;
  color: #55379b;
  font-family: 'BTFontRegular', sans-serif;
}

/** HEADER **/
.navbar-header {

}

.navbar {
  width: 630px;
  margin: 30px auto;
  border-radius: 0;
  border: 0;
  background-image: none;
  background-color: white;
  box-shadow: none;
}

.navbar-default .navbar-brand {
  color: #55379b;
}

.navbar-brand span {
  margin-left: 30px;
}

.navbar-brand h1 {
  font-size: 1.5em;
  margin-top: 10px;
  margin-bottom: 0;
  margin-left: 30px;
}

#logo-img {
  width: 150px; /* you can use % */
  height: auto;
  margin: 10px 15px 10px 0;
}

/** CONTENT **/
#main {
  width: 600px;
  margin: 0 auto;
}

.form-control {
  border-color: #55379b;
}

.form-control:focus {
  border-color: #55379b;
  border-width: 2px;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.form-button {
  margin-top: 5px;
  color: #55379b;
  border-color: #55379b;
  background-image: none;
  background-color: #eeeeee;
}

.form-button:hover {
  background-color: #55379b;
  color: white;
}

#build {
  margin-top: 20px;
}


